#login-box{
    border: 1px solid blue;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: #00000080;
    padding: 5px 10px;
}
#login-box h1{
color: white;
}
#login-box .form .item input{
    border: 0;
    width: 200px;
    border-bottom: 5px solid white;
    font-size: 18px;
    background: #ffffff00;
    color: white;
    padding: 5px 10px;

}